/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #063163; color: #fff; text-shadow: none; }
::selection { background: #063163; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #063163; }
a:visited { color: #063163; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; color: #0E6298; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* #Base 960 Grid
Taken from Skeleton by Dave Gamache // http://www.davegamache.com/
================================================== */

    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .column, .columns                           { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column                      { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }

/* =============================================================================
   Primary styles
   Author: Shajed Evan http://www.behance.net/evanshajed
   ========================================================================== */
   
   /* Sprite images */
   
   .sendmode{
	background-image:url(../images/sprite-updated.png);
	background-repeat:no-repeat;
	display:block;
	text-indent:-99999px;
	text-transform: capitalize;
	overflow:hidden;
	}
	

	.allnetworks-ie{height:98px;width:533px;background-position:0 0;}
	.icon_1{height:90px;width:112px;background-position:0 -98px;}
	.icon_2{height:90px;width:112px;background-position:0 -188px;}
	.icon_3{height:90px;width:112px;background-position:0 -278px;}
	.icon_4{height:90px;width:112px;background-position:0 -368px;}
	.icon_5{height:90px;width:112px;background-position:-112px -98px;}
	.logo_sendmode{height:75px;width:180px;background-position:-224px -98px;}
	.pic_sendmodeapi{height:97px;width:98px;background-position:-112px -188px;}
	
	/* Global Segment */
	ul#double,#features a,#sideNav{ -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   -khtml-border-radius:5px;
   behavior: url(PIE.htc);
   }
   
   
   .margin-top-20{
   	margin-top: 2em;
   }
	
	/* body segment */	
   body{background:#0E6399 url("../images/background.gif") repeat-x;}
   
   #container{background-color: #ffffff;
   margin-top:1em;
   border: 1px solid #8A8A8A;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   -moz-box-shadow: 0px 0px 3px #000000;
   -webkit-box-shadow: 0px 0px 3px #000000;
   box-shadow: 0px 0px 3px #000000;
   position: relative;
   behavior: url(PIE.htc);
   }
   
   
   /* topContainer segment */
   #topContainer{ text-align: right; padding-right: 1em; margin-bottom: 1em; margin-top: 1em;}
   #topContainer h1,#topContainer p{display: inline; text-align: right;}
   #topContainer h1{color: #094174;font-size: 1em; font-weight:normal;line-height:normal; padding: 0 .5em 0 0}
   #topContainer p{padding:0 0 0 0.5em}
   #topContainer span.country{color: #E6B73D}
   #topContainer span.tel{color: #094174}
   #topContainer span.country,#topContainer span.tel{font-size:1.2em; font-weight: 700; font-stretch: normal;font-variant:normal; text-transform: capitalize;}
   #topContainer span.country:after{content:": ";}
	
	/* header segment */
	#header{ border-bottom: 3px solid #094174;}
	#header h1 {display:inline-block;}
	.ie7 #header a h1{
		display:block;
		background-image:url(../images/sprite.png);
		background-repeat:no-repeat;
		height:75px;width:180px;background-position:-224px -98px;
		display:block;
		text-indent:-99999px;
		text-transform: capitalize;
		overflow:hidden;
		font-size: 0;
		line-height: 0;
	}
	#headerSignup{
		text-align: right;
	}
	ul.headerAction{
		display: inline;
		margin: 0;
		padding: 0;
		list-style: none;
		float: right;
	}
	ul.headerAction li{
		float: left;
		padding-left: 1.2em;
	}
	
	/* top navigation */
	
	nav#headerNav{
	padding: 0;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 1em;
	/* Background color */
	background: #094174; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#094174, #0E6399);
	background: -o-linear-gradient(#094174, #0E6399);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#094174), to(#0E6399)); /* older webkit syntax */
	background: -webkit-linear-gradient(#094174, #0E6399);
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	position: relative;
	z-index: 99999;
	behavior: url(PIE.htc);
	}
	
	/* = Top Menu Navigation
-------------------------------------------------------------- */
nav#headerNav ul {
	font-size: 13px;
	list-style: none;
	margin: 0 0 0 0;
	padding-left: 0;
}
nav#headerNav li {
	float: left;
	position: relative;
	border-right: 1px dotted #999;
}
nav#headerNav li:last-child{border-right: none;}
nav#headerNav a {
	color: #eee;
	display: block;
	line-height: 3.333em;
	padding: 0 1.240em;
	text-decoration: none;
}
nav#headerNav ul ul {
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	top: 3.333em;
	left: 0;
	width: 188px;
	z-index: 99999;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
nav#headerNav ul ul a {
	background: #5BB5DF;
	border-bottom: 1px dotted #ddd;
	color: #EEE;
	font-size: 13px;
	font-weight: normal;
	height: auto;
	line-height: 1.4em;
	padding: 10px 10px;
	width: 168px;
}
nav#headerNav li:hover > a,
nav#headerNav ul ul :hover > a,
nav#headerNav a:focus {
	background: #89d9ff;
}
nav#headerNav li:hover > a,
nav#headerNav a:focus {
	background: #5BB5DF; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#094174,#5BB5DF);
	background: -o-linear-gradient(#094174,#5BB5DF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#094174), to(#5BB5DF)); /* Older webkit syntax */
	background: -webkit-linear-gradient(#094174, #5BB5DF);
	behavior: url(http://examples.iamwebsitedeveloper.com/john/css/PIE.htc);
	color: #FFF;
}
nav#headerNav ul li:hover > ul {
	display: block;
}
nav#headerNav .current_page_item > a,
nav#headerNav .current_page_ancestor > a {
	font-weight: bold;
	background: #5BB5DF;
}
nav#headerNav li.login a{
	background: #9BBE35;
	background: -moz-linear-gradient(#9BBE35,#548E18);
	background: -o-linear-gradient(#9BBE35,#548E18);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9BBE35), to(#548E18)); /* Older webkit syntax */
	background: -webkit-linear-gradient(#9BBE35, #548E18);
	-pie-background: linear-gradient(#9BBE35, #548E18); /*PIE*/
	behavior: url(PIE.htc);
}
nav#headerNav li.login a:hover{
	background: #F64400;
}
	
	/* main */
	
	
	
	
	/* Flex Slider */
	.flex-container{width: 95%;left:15px;}
	.flex-container a:link{
		color: #CCC;
	}
	.flex-container a:hover{
		color: #FFF;
	}
	
	.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {width: 96%; padding: 2%; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.3); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px;}

/* Direction Nav */
.flex-direction-nav li a {width: 52px; height: 52px; margin: -13px 0 0; display: block; background: url(../images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li .next {background-position: -52px 0; right: -21px;}
.flex-direction-nav li .prev {left: -20px;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -20px; text-align: center; margin: 0 auto;}
.ie8 .flex-control-nav{margin: 0 !important;padding: 0}

.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;*zoom:1;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(../images/bg_control_nav.png) no-repeat 0 0; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}

/*** #Flex Slider End ****/


/** Pricing Table **/

table.priceTable{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
    width: 95%;
    margin: 1em;
}
.priceTable thead th{
    padding:15px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border:1px solid #93CE37;
    border-bottom:3px solid #9ED929;
    background-color:#9DD929;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.priceTable thead th:empty{
    background:transparent;
    border:none;
}
.priceTable tbody th{
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    background-color:#9DD929;
    border:1px solid #93CE37;
    border-right:3px solid #9ED929;
    padding:0px 10px;
    background:-webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0.02, rgb(158,217,41)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(123,192,67))
        );
    background: -moz-linear-gradient(
        left bottom,
        rgb(158,217,41) 2%,
        rgb(139,198,66) 51%,
        rgb(123,192,67) 87%
        );
    -moz-border-radius:5px 0px 0px 5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.priceTable tfoot td{
    color: #9CD009;
    font-size:32px;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
}
.priceTable tfoot th{
    color:#666;
}
.priceTable tbody td{
    padding:10px;
    text-align:center;
    background-color:#DEF3CA;
    border: 2px solid #E7EFE0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}
.priceTable tbody span.check::before{
   
}

	.box{
	margin-bottom: 1em;
	z-index: 0px;
	position: relative;
	border: 1px solid #CCC;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(PIE.htc);
	-khtml-border-radius:10px;
	-moz-box-shadow: 0px 1px 1px 0.8px #DDD;
	-webkit-box-shadow: 0px 1px 2px 0.8px #DDD;
	box-shadow: 0px 1px 1px 0.8px #DDD;
	behavior: url(PIE.htc);
	}
	
	.box h2{
	margin: 1em 0;
	}

	.ie7 .box,.ie8 .box{background: #FFFFFF;}
	
	h1.title{
		color: #FFF;
		z-index: 0px;
		position: relative;
		font-size: 1.2em;
		padding: 0.5em 0.8em 0.5em 0.5em;
		margin: 0;
		background:#0D588D;
		-moz-border-radius: 10px 10px 0px 0px;
		-webkit-border-radius: 10px 10px 0px 0px;
		border-radius: 10px 10px 0px 0px;
		-pie-border-radius:10px 10px 0px 0px;
		behavior: url(PIE.htc);
		-khtml-border-radius:10px 10px 0px 0px;
		-webkit-box-shadow: inset 0px -1px 1px 0px #1CAFBF;
		-moz-box-shadow: inset 0px -1px 1px 0px #1CAFBF;
		box-shadow: inset 0px -1px 1px 0px #1CAFBF;
	}
		
	h1.title:before,ul#double li:before{ content:url(../images/circlebullets.png); width: 10px; height: 10px; padding-right: 10px;}
	
	.box p, .box section{padding:0.5em 1em;}
	aside.box p{padding: 0.3em 1em;}
	
	.paddress h2{
		padding: 0.5em 0;
		margin: 0;
		font-size: 1em;
	}
	aside.box .paddress p,.paddress > p{
		padding: 0;
		margin: 0;
	}
	
  	span.country{color: #0D588D;}
    span.tel{color: #333;}
    span.country,span.tel{font-size:1em; font-weight: 700; font-stretch: normal;font-variant:normal; text-transform: capitalize;}
    span.country:after{content:": ";}
	
	ul#double{width: 650px; margin-bottom: 20px;overflow: hidden; background: #F5F7F7; padding: 1em; border:1px solid #DDD; margin-bottom: 20px;z-index: 0px;
	position: relative;}
	ul#double li{ line-height: 1.5em; float: left; display: inline; width: 50%;}
	
	
	/* Action Button */
	span#button,span.hbutton{ margin-left: 30%; margin-top: 5%; display: inline-block;}
	span.hbutton{margin: 0;}
	.ie7 span#button,.ie8 span#button,ie7 span.hbutton,ie8 span.hbutton{*display:inline;*zoom:1}
	a.signup{
	font-size: 1.5em; 
	display: block;
	font-weight: 700; 
	color: #FFF;
	text-transform: capitalize; 
	text-decoration: none;
	padding: .3em .5em;
	background: #85B63A; 
	border: 2px solid #CCC;
	position: relative;
	z-index: 99999;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	behavior: url(PIE.htc);
}
a.signup.red{background: #C92716;}

a.signup.haction{
	font-size: 1em;
	background: #C92716;
	font-weight: 600;
	padding: 0.4em 0.7em;
	border: 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: inset 0px -1px 1px 0px #666;
	-moz-box-shadow: inset 0px -1px 1px 0px #666;
	box-shadow: inset 0px -1px 1px 0px #666;
	text-shadow: 0px 1px 0px #333;
	filter: dropshadow(color=#333333, offx=0, offy=1);
	behavior: url(PIE.htc);
}
a.signup.haction.green{background: #9BBE35;}
a.signup.haction.blue{
	background: #2881BF;
}
a:hover.signup,a:hover.signup.haction.green,a:hover.signup.red,a:hover.signup.haction.blue{
	background: #073768;
}

/* Login Form */

form.login{
	padding: 2em;
}
form.login legend{
	font-size: 1.2em;
	padding-bottom: 0.8em;
}
form.login ol{
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid #CCC;
}
form.login li{
	padding: 0.8em 0;
}
form.login label{
	clear: left;
	float: left;
	width: 20%;
	padding-right: 2%;
	height: 1em;
	text-align: right;
}

form.login input[type="submit"]{
	margin-left:22%;
}

/* Team */
.team ol{
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}
.team ol li{
	width: 100%;
	padding-bottom: 1em;
	clear: left;
	display: block;
	overflow: hidden;
}
.team img{
	float: left;
	width: 100px;
	height:73px;
	margin-right: 1%; 
}
.team p{
	width: 75%;
	float: right;
	margin: 0;
}
.team p:first-child{
padding-top:0;
}



	/* Fatures segment */
	#features{padding-bottom: 0.8em;}
	#features a{display: inline-block; display: -moz-inline-stack; width: 16%; min-height: 132px; background-color:#EEE; border: 1px solid #CCC; padding: 5px 8px 5px 8px; cursor: pointer; text-align: center; margin-left:5px; margin-top: 1em; vertical-align: top;}
	#features span{margin-bottom: 10px; margin-right: 5px;}
	#features a:hover{background-color: #CCC;}
	
	.ie7 #features a{zoom: 1;*display:inline;_height:132px}
	



	/* Aside */
	
	#recommendation ul{margin:0 auto; padding: 0.8em 0.5em 0.5em 1em; margin-bottom: 1.2em;}
	#recommendation ul li{list-style: none; padding: 0;margin: 0 0 1.2em 0;}
	#recommendation blockquote{margin: 0.3em 0.8em 0.5em 0.4em; color: #666; font-style: italic;}
	#recommendation cite{ font-weight: 600;}
	#recommendation a.more,#developerAPI a.more{ padding: 0.5em 0.8em 1.3em 0.8em;font-size:1em; display: block;}
	
	/* Side Nav */
	#sideNav{margin-bottom: 1em;}
	#sideNav h1{margin-bottom: 0;}
	#sideNav ul{margin: 0 auto; padding: 0px}
	#sideNav ul li{font-size: 1.1em; font-variant: normal; font-stretch: normal; font-variant: normal; list-style: none;border-bottom: 1px solid #0D588D;
	/* Box Shadow */
	-moz-box-shadow: 0px 1px #ccc;
	-webkit-box-shadow: 0px 1px #ccc;
	box-shadow: 0px 1px #ccc;
	behavior: url(PIE.htc);

}
	#sideNav ul li a{text-decoration: none;color: #FFF; display:block;padding: 0.5em;background: #2881bf;}
	#sideNav ul li a:hover{background: #65B0D3; cursor: pointer;}
	
	/* Free Trial and Blog Segment */
	#sideNav ul li.freeTrial a,#sideNav ul li.blog a{
		background-color: #c92716;
		border-width: 1px;
		border-color: #999999;
	}

	#sideNav ul li.freeTrial a:hover,#sideNav ul li.blog a:hover{
	cursor:pointer;
	background: #F98416;
	}
	#sideNav ul li.freeTrial a:before{content: url("../images/sign_up.png"); display: inline; width: 16px; height: 16px; padding: 2px; margin:0 0.8em 0 0;}
	
	#sideNav ul li.blog a:before{content: url("../images/kblogger.png"); display: inline; width: 16px; height: 16px; padding: 2px; margin:0 0.8em 0 0;}
	
	#developerAPI p{float: left; margin-right: 5px; display:inline-table; width: 30%; padding: 0.3em 0.3em 1em 1em;}
	#developerAPI span{margin-top: 1em;}


	/* Footer */
	footer{background: #666; border-top: 5px solid #333; margin-top: 2em; margin-bottom: 1em; padding-bottom: 1em;}
	
	footer h1,.fnav h2{color: #FFF;}
	.fnav h2{font-size: 1.2em;}
	footer h1{ padding-left: 0.5em; border-bottom: 1px solid #CCC;}
	
	.fnav ul{
		font-size: 0.9em;
	}
	.fnav li{list-style: square inside; padding-top: 0.5em;}
	.fnav li a{color: #FFF; text-decoration: none;}
	.fnav li a:hover{text-decoration: underline;}
	
	.fnav ul#fdouble{width: 340px; margin-bottom: 20px;overflow: hidden;padding: 1em; margin-bottom: 20px;z-index: 0px;position: relative; list-style: square inside;}
	.fnav ul#fdouble li{ line-height: 1.5em; float: left; display: inline; width: 45%;list-style: square inside;padding-left: 5px;}
	
	span.CopyRight{margin: 0 auto; padding: 1em 0 1em 0; display: block;}
	span.CopyRight a{color: #BBB;}
	span.CopyRight a:hover{color: #FFF;}

	

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }


/* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
    
@media only screen and (device-width: 768px) {

#topContainer a:link{text-decoration: none;color: #FFF} 
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}

/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}